.profile {
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 30px;
   text-align: center;
   width: 285px;
   background-color: white;
   border: 1px solid #cecece;
   border-radius: 5px;
 }
 
 .description {
   padding: 30px;
 }
 
 .avatar {
   border-radius: 50%;
   width: 100px;
 }
 
 .name {
   font-weight: 700;
   margin-top: 20px;
   margin-bottom: 10px;
   font-size: 24px;
 }
 
 .tag {
   margin-bottom: 10px;
   font-weight: 500;
   font-size: 16px;
   color: #686868;
 }
 
 .location {
   font-size: 18px;
   font-weight: 500;
   color: #686868;
 }
 
 .stats {
   display: flex;
   align-items: center;
   height: 70px;
   background-color: #c0eca9;
   list-style: none;
 }
 
 .stats li {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 5px;
   height: 100%;
   width: 95px;
   border: 1px solid #cecece;
 }
 
 .label {
   color: #686868;
 }
 
 .quantity {
   text-align: center;
   font-weight: 700;
   color: black;
 }